[Unit]
Description=upgrade VMWare Horizon Agent 
After=network-online.target
After=multi-user.target

[Service]
Type=idle
User=root
PIDFile=/run/upgradeHorizonAgent.pid
ExecStart=/usr/sbin/install_viewagent

[Install]
WantedBy=multi-user.target